@import url("https://fonts.googleapis.com/css2?family=Sacramento&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

.profil-card img {
  width: 150px;
  border-radius: 50%;
  border: 3px solid rgb(20, 255, 251);
  box-shadow: 0 0 25px rgb(20, 255, 251);
  cursor: pointer;
  transition: 0.3s ease;
}
.profil-card img:hover {
  box-shadow: 0 0 25px rgb(20, 255, 251), 0 0 50px rgb(20, 255, 251),
    0 0 100px rgb(20, 255, 251);
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url(aurora-3273419_1280.jpg) no-repeat center;
  background-size: cover;
}
.profil-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 0.5em;
  padding: 2em 2.5em;
  border-radius: 2em;
  background-color: rgba(207, 207, 207, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: rgb(255, 255, 255);
}
.profil-card .number-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
}
.profil-card .btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  gap: 1em;
}
.btn-box button {
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 1em;
  cursor: pointer;
  border: 2px solid transparent;
  transition: 0.4s ease-in-out;
}
.btn-box .Follow {
  background-color: rgb(20, 255, 251);
  box-shadow: 0 0 25px rgb(20, 255, 251);
  color: black;
}

.btn-box .Follow:hover {
  background-color: transparent;
  border: 2px solid rgb(20, 255, 251);
  color: rgb(20, 255, 251);
  box-shadow: 0 0 25px rgb(20, 255, 251), insert 0 0 10px rgb(20, 255, 251);
}

.btn-box .Message {
  background-color: transparent;
  border: 2px solid rgb(20, 255, 251);
  color: rgb(20, 255, 251);
  box-shadow: 0 0 25px rgb(20, 255, 251), insert 0 0 10px rgb(20, 255, 251);
}
.number-grid .box p:first-child {
  font-weight: 800;
}
.number-grid .box p:last-child {
  font-weight: 500;
  opacity: 0.8;
}
.info-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.info {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 1.5em;
}
.info p {
  color: rgb(20, 255, 251);
}
.info-box .social {
  margin: 20px 0;
}
.info-box .social i {
  font-size: 1.5em;
  color: rgb(20, 255, 251);
  border: 2px solid rgb(20, 255, 251);
  border-radius: 50%;
  padding: 5px;
  margin-left: 5px;
  cursor: pointer;
  transition: 0.4 ease-in-out;
}
.info-box .social i:hover {
  background-color: rgb(20, 255, 251);
  color: black;
  box-shadow: 0 0 25px rgb(20, 255, 251);
}

.btn-box .Message:hover {
  background-color: rgb(20, 255, 251);
  color: black;
  box-shadow: 0 0 25px rgb(20, 255, 251), inset 0 0 10px rgb(20, 255, 251);
}
